.seccion7{
    
    display: flex;
    margin-top: 5rem;
    padding-right: 0rem;
}
.telefonos{
     display: flex;
    grid-template-columns: repeat(3,1fr);
    border-radius: 60px;
    height: 207px;
    width: 389px;
    margin-left: 10rem;
    gap: 30px;
    margin-top: 3rem;
}
.puntos {
    margin-top: 5rem;
    margin-left: 65rem;
}
.seccion7 img{
    padding-right: 20rem;
}
.linias2{
    padding-left: 0rem;
}