.seccion8 img{
    width: 125rem;
    height: 7rem;
    padding-left: 0rem;
}
.alimentos{
     display: flex;
    grid-template-columns: repeat(6,1fr);
    margin-top: 3rem;
    margin-left: 10rem;
    gap: 5px;
    
}
.alimentos img{
    width: 20rem;
    height: 30rem;
}
.linias3{
    padding-left: 2rem;
    width: 1000rem ;
}
.linias3 imagen10{
    width: 30rem;
}